<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Site Metas -->
    <title>VSR</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/style.css') }}"   />

    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .fa-linkedin {
      background: #007bb5;
      color: white;
      }
    </style>

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="../static/images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->



    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(../static/images/banner_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><br><br>LIP SPEECH RECOGNITION <br><br> MORSE CODE</h3>

                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(../static/images/banner_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><br><br>LIP SPEECH RECOGNITION <br><br> MORSE CODE</h3>

                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- section -->

	<!-- end section -->
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Welcome To</span> Lip Speech Recognition and Morse Code</h2>
                        </div>
						<div class="full">
						  <p>Lip reading is used to understand or interpret speech without hearing it,
                a technique especially mastered by people with hearing difficulties. We have created this project with the aim to help people with hearing and
                 speech impairments. Similarly Eye Morse code can be used to communicate using eyes by blinking. The blinking
                 action gets converted to dash and dots and hence, this gets converted to text.
                </p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="about.html">More</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                      <br><br><br>
                        <img src="../static/images/morse.jpg" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>FEATURES </span></h2>
                        </div>
					  </div>
                </div>

				<div class="col">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="../static/images/times_photo.png" style="opacity:0.3;" alt="#" />
                        <div class="centered"><h3 style="color:indigo"><b>Lip Recognition<br> Text Convertion<br> Works for noisy environment<br> For people with hearing impairment</b></h3></div>
						<h4>Lip Reading</h4>
                    </div>
                </div>
				<div class="col">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="../static/images/i.png" style="opacity:0.3;" alt="#" />
                        <div class="centered"><h3 style="color:indigo"><b>Eye Recognition<br> Eye to text<br> Uses eye signals to convey messages<br> Useful in military </b></h3></div>
						<h4>Eye Morse Detection</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
			    <div class="col-md-6">
                    <div class="full float-right_img">
                      <br><br><br><br>
                        <img src="../static/images/lip.jpg" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Lip Speech Recognition</h2>
                        </div>
						<div class="full">
						  <p>
                 VSR has received a great deal of attention in the last decade for its potential
                  use in applications such as human-computer interaction (HCI),
                  audio-visual speech recognition (AVSR), speaker recognition, talking heads,
                  sign language recognition and video surveillance.
                  Its main aim is to recognise spoken word(s) by using only the visual signal that is produced during speech.
                   Hence, VSR deals with the visual domain of speech and involves image processing, artificial intelligence, object detection.

             Here we are providing a real time lip speech recognition.</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="lip.html">Click to proceed</a>
						</div>
                    </div>
                </div>
			</div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Eye Detection Morse code translation</span></h2>
                        </div>
						<div class="full">
						  <p>The Morse code is a long established form of communication.
                It was widely used for more than a century and provided its value in
                 a variety of areas from land line telegraph systems through to radio
                  communications. Here we are detecting the eyes from the video and capturing the blinking.Using this we
                are converting the blinking action into text format.</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="morse.html" >Click to proceed</a>

                        </div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img class="img-responsive" src="../static/images/eye.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
  <!-- section -->
    <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
          <div class="col-md-6">
                    <div class="full float-right_img">
                        <img src="../static/images/img7.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
               <h2><span>Research</h2>
                        </div>
            <div class="full">
              <p>There have been many researches regarding this problem and some are still going on.
                Various methods have been proposed by researchers like LCANet, convolution neural networks, Resnet,etc.
                Some of these are cited here.
             </p>
            </div>
            <div class="full">
               <a class="hvr-radial-out button-theme" href="contact.html">Click to proceed</a>
            </div>
                    </div>
                </div>
      </div>
        </div>
    </div>
  <!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>News</span></h2>
                        </div>
					  </div>
                </div>
			  </div>
               <div class="row">
                <div class="col-lg-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
									   <div class="full blog_img_popular">
                                          <img class="img-responsive" src="../static/images/lu.png" alt="#" />
										  <h4>LUVIUS</h4>
										  <p>Luvius with LR Technology is a lip reading product that provides speech-to-text and
                        dynamic biometric authentication.This product can be used in mobile phones, headset, digital assistant,
                         and ID verifier. Its applications can be in the field of medical services, building access,
                          smart payments and aviations.​ </p>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                          <img class="img-responsive" src="../static/images/auto.jpg" alt="#" />
										  <h4>AUTOMATIC LIP RECOGNITION ​</h4>
										  <p>Scientists at the University of East Anglia in Norwich, England, are working on the next stage of
                        automated lip reading technology that could be used for deciphering speech from video surveillance
                        footage.​ The technology uses deep neural networks that “learn” the way people move their lips,
                         explains Professor Harvey.​</p>
										</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
									   <div class="full blog_img_popular">
                                          <img class="img-responsive" src="../static/images/sony.png" alt="#" />
										  <h4>SONY</h4>
										  <p>At CES 2021, Sony gave everyone an overview of their Visual Speech Enablement technology
                        that uses camera sensors with artificial intelligence built into them to detect a face, isolate
                         that person’s lips, identify lip movement, and translate them into words.
                       Sony is still working on this project beacause there were some secuirty issues as well.</p>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                          <img class="img-responsive" src="../static/images/liopa.png" alt="#" />
										  <h4>LIOPA</h4>
										  <p>Liopa is the product of two academic researchers, Dr Darryl Stewart and Dr Fabian Campbell-West,
                        joining forces with two proven commercial entrepreneurs, McQuillan and his colleague Richard
                         McConnell.​ “Meanwhile, voice activation is becoming more popular in cars,” said Liopa’s
                         co-founder, Liam McQuillan.​
                      </p>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>

            </div>
           </div>
        </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>TEAM</span></h2>
                        </div>
					  </div>
                </div>
			  </div>
           </div>
        </div>
	<!-- end section -->
	<!-- section -->

	<!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">

		   <div class="row">

           <div class="row">
           	<div class="col">
           <div class="card" style="width: 15rem;">
              <div class="card-body">
                <h3 class="card-title">Sabeen Mustafa</h3>

                <a href="https://www.linkedin.com/in/sabeen-mustafa-1b997a192/" class="fa fa-linkedin"></a>&nbsp;
                <a href="https://github.com/sabeenmustafa"><i class="fa fa-github"></i></a>
              </div>
            </div>
            </div>
            <div class="row">
            	<div class="col">
              <div class="card" style="width: 15rem;">
                 <div class="card-body">
                   <h3 class="card-title">Palak Dubey</h3>

                   <a href="https://www.linkedin.com/in/palak-dubey-806a621a5/" class="fa fa-linkedin"></a>&nbsp;
                   <a href ="https://github.com/palakmd"><i class="fa fa-github"></i></a>
                 </div>
               </div>
               </div>
               <div class="row">
               	<div class="col">
                 <div class="card" style="width: 15rem;">
                    <div class="card-body">
                      <h3 class="card-title">Ria Reji</h3>

                      <a href="https://www.linkedin.com/in/ria-reji-b82a9a1b2/" class="fa fa-linkedin"></a>&nbsp;
                      <a href ="https://github.com/ria0720"><i class="fa fa-github"></i></a>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                  	<div class="col">
                    <div class="card" style="width: 15rem;">
                       <div class="card-body">
                         <h3 class="card-title">Diksha Yaduwanshi</h3>

                         <a href="https://www.linkedin.com/in/diksha-yaduwanshi-2093a01a5/" class="fa fa-linkedin"></a>&nbsp;
                         <a href="https://github.com/DikshaYaduwanshi"><i class="fa fa-github"></i></a>
                       </div>
                       </div>
                     </div>
  </div>

		   </div>

        </div>
    </footer>
    <!-- End Footer -->



    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.pogo-slider.min.js"></script>
    <script src="../static/js/slider-index.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/form-validator.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/images-loded.min.js"></script>
    <script src="../static/js/custom.js"></script>
	<script>
	/* counter js */

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};

		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);

			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;

			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};

			$self.data('countTo', data);

			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);

			// initialize the element with the starting value
			render(value);

			function updateTimer() {
				value += increment;
				loopCount++;

				render(value);

				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}

				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;

					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}

			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};

	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};

	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });

  // start all the timers
  $('.timer').each(count);

  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
</body>

</html>
